{% extends 'base.html.twig' %}
{% block title %}Single Post{% endblock %}
{% block body %}

{% if not post %}
<h2>Post not found</h2>
{% else %}
    <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-sm-12">
                  <div class="about_img"><img src="{{ asset('img/blog/' ~ post.image) }}"></div>
                  <p class="post_text">{{post.publishedAt | date('d') }} {{ post.publishedAt | date('F') }}</p>
                  <h2 class="most_text">{{post.postUser.name}} : {{post.title}}</h2>
                  <p class="lorem_text">{{post.content}}</p>
                   <a href="{{ path('post_like', { 'title': post.title }) }}"> Me gusta </a>
                  <p class="lorem_text">{{ post.numLikes }}</p>
                  <div class="social_icon_main">
                     <div class="social_icon">
                        <ul>
                           <li><a href="#"><img src="{{ asset('images/fb-icon.png') }}"></a></li>
                           <li><a href="#"><img src="{{ asset('images/twitter-icon.png')}}"></a></li>
                           <li><a href="#"><img src="{{ asset('images/instagram-icon.png') }}"></a></li>
                        </ul>
                     </div>

                  </div>

                          <!-- Mi codigo -->
                  <div>
                     {% for comentario in post.comentarios %}
                     <div class="card mt-2 mb-1" style="width:100%;">
                        <div class="card-body">
                           <h5 class="card-title">{{comentario.name}}</h5>
                           <h6 class="card-subtitle mb-2 text-muted">{{comentario.email}}</h6>
                           <p class="card-text">{{comentario.text}}</p>
           
                        </div>
                     </div>
                     {% endfor %}
                  </div>
               

               </div>
               <!-- Fin de mi codigo -->
               <div class="col-lg-4 col-sm-12">
                  <div class="about_main">
                     <h1 class="follow_text">CONNECT & FOLLOW</h1>
                     <div class="follow_icon">
                        <ul>
                           <li><a href="#"><img src="{{ asset('images/fb-icon-1.png')}}"></a></li>
                           <li><a href="#"><img src="{{ asset('images/twitter-icon-1.png')}}"></a></li>
                           <li><a href="#"><img src="{{ asset('images/linkedin-icon-1.png')}}"></a></li>
                           <li><a href="#"><img src="{{ asset('images/instagram-icon-1.png')}}"></a></li>
                        </ul>
                     </div>
                  </div>
                  <!-- mi codigo  -->
                  <div class="comentarios">
                    {{ include ('partial/_comentario.html.twig') }}
                  </div>
               </div>
            </div>
         </div>
    </div>
{% endif %}
{% endblock %}

